---
import type { TAboutInfoCardData } from './AboutIndex.astro';
import AboutInfoCard from './AboutInfoCard.astro';

type Props = {
	class: string;
	contentTitle: string;
	contentText: string;
	infoTitle: string;
	infoSubtitle?: string;
	infoData: TAboutInfoCardData[];
};

const { contentTitle, contentText, infoTitle, infoSubtitle, infoData } = Astro.props;
const { class: about__index, ...attributes } = Astro.props;
---

<div class="about__content">
	<h3 class="about__content_title">{contentTitle}</h3>
	<p>
		{contentText}
	</p>
</div>
<div class:list={[about__index, 'about__info']} {...attributes}>
	<h4 class="about__info_title">
		{infoTitle}
		<br />{infoSubtitle}
	</h4>
	<h5 class="about__info_subtitle">主な業務</h5>
	<div class="about__info_cards">
		{
			infoData.map(data => (
				<AboutInfoCard image={data.image} title={data.title} text={data.text} />
			))
		}
	</div>
</div>

<style lang="scss">
	.about__content,
	.about__info {
		color: #000;
	}

	.about__content {
		&_title {
			text-align: center;
			margin-bottom: 2rem;
		}
	}

	.about__content_title,
	.about__info_title,
	.about__info_subtitle {
		font-weight: 600;
	}

	.about__info {
		&_title,
		&_subtitle {
			text-align: center;
		}

		&_title {
			color: $__sub;
			background-color: $__main;
			width: 100%;
			padding: 0.5rem;
		}
	}

	.about__info_cards {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	@media screen and (min-width: 768px) {
		.about__content,
		.about__info {
			text-align: center;
		}

		.about__content,
		.about__info_title,
		.about__info_subtitle {
			margin: 0 auto;
			width: 600px;
		}

		.about__content {
			&_title {
				font-size: $__font30;
			}
		}

		.about__info {
			&_title,
			&_subtitle {
				font-size: $__font20;
			}
		}

		.about__info_cards {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
		}
	}
</style>
